{{> forms/formCSS}}
{{> layout/sidebar}}

<section class="home-section home-section-container">
    {{!-- Research Container --}}
    <div class="researchContainer">
        {{!-- Header --}}
        <div class="header">
            <div class="link">
                <a href="/researches" type="button">
                    <i class='bx bx-arrow-back'></i>
                </a>
                <h1>Header</h1>
            </div>
            <div class="error"><span id="error"></span></div>
        </div>

        {{!-- Research Data Form --}}
        <form action="/researches/add" name="researchForm" id="researchForm" method="post"
            enctype="multipart/form-data">
            <div class="research-details">
                {{!-- Research Title --}}
                <div class="input-box">
                    <label for="researchTitle" class="detail"> Title:</label>
                    <input type="text" id="researchTitle" name="researchTitle" value="{{data.researchTitle}}">
                </div>

                {{!-- Research Description --}}
                <div class="input-box">
                    <label for="description" class="detail">Description:</label>
                    <textarea form="researchForm" id="description" cols="30" rows="7"
                        name="description">{{data.description}}</textarea>
                </div>

                {{!-- Type of Application --}}
                <div class="input-box">
                    <label for="applicationType" class="detail">Drowpdown:</label>
                    <select id="applicationType" name="applicationType">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <!-- Radio -->
                <div class="payment-track" id="">
                    <label class="detail">Label :</label>
                    <label class="radioHolder">
                        <input type="radio" name="paymentTrackPaper" value="Normal">Something
                    </label>
                    <label class="radioHolder">
                        <input type="radio" name="paymentTrackPaper" value="Fast"> Another thing
                    </label>
                </div>

                {{!-- File --}}
                <div class="input-box">
                    <label for="file" class="detail"> File:</label>
                    <input type="file" id="file" min="0" name="file" multiple>
                </div>

            </div>

            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>

{{> forms/formScript}}