<html>

	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, shrink-to-fit=no'
		/>
		<link rel='icon' type='image/png' href='' />
		<title>Starter Express</title>

		<!-- Font Awesome Icons -->
		<script
			src='https://kit.fontawesome.com/d40b60d37f.js'
			crossorigin='anonymous'
		></script>

	</head>

	<body onload=''>
		{{{body}}}
	</body>

</html>