<nav class="menubar">
    <a href="/" class="logo-details">
        <div><i class="fa-solid fa-building-columns icon"></i></div>
        <div class="logo_name">Client Name</div>
    </a>

    {{#if navdata.isLogin}}
    {{> component/notification}}
    {{/if}}
    <div class="menubar_left">
            <a href="/logout" class="logout">{{#if (isEqual navdata.language "English")}}Logout{{else}}تسجيل خروج{{/if}}</a> 

        <div class="dropdown" id="dropdown" tab-index="0">
              <button type="submit" id="dropdown-btn" onmousedown="openLanguageList()"></button>
              <ul class="dropdown-content" id="dropdown-content"></ul>
        </div>
    </div>
</nav>

{{> layout/menubarCSS}}
{{> layout/menubarScript}}

