PORT=7777

SESSION_SECRET=''
SESSION_KEY=''
SESSION_NAME=''

# Database
MONGO_URI=''
DATABASE_NAME=''

IS_HTTPS='false'
IS_PFX='false'
PASSPHRASE=''

# Json web token
ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=''

# Other
FRONTEND_URL=''
ENVIRONMENT='' ## dev, prod